@{
    ViewBag.Title = "Home Workout";
}

<h1 style="text-align:center">Workout From Home</h1>
<h4 style="text-align:center"> 1081747 沈亭萱</h4>

<div style=" width: 100%">
    <div class="container" style="width: 100%">
        <img style="width: 46%; margin:0.5%" src="~/images/1.jpg">
        <img style="width: 46%; margin:0.5%" src="~/images/2.jpg">
    </div>
    <div class="container" style="width: 100%">
        <img style="width: 46%; margin:0.5%" src="~/images/4.jpg">
        <img style="width: 46%; margin:0.5%" src="~/images/5.jpg">
    </div>
</div>
